{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Welcome to Taskmate!</title>
{% endblock title %}

{% block content %}
    <div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="{% static 'images/stickynote1.jpg' %}" class="shadow rounded-lg" alt="stickynote1" height=250 width=360>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/stickynotes.jpg' %}" class="shadow rounded-lg" alt="stickynotes" height=250 width=360>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/stickynote3.jpg' %}" class="shadow rounded-lg" alt="stickynote3" height=250 width=360>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <center><p class="h1 text-primary">Quick and easy to use Anytime, Anywhere!</p></center>
            <center><p class="h2 mt-3">'Plan your day better, Get your life organized.'</p></center>
            <center><p class="h5">'TASKMATE' lets you keep track of your task in one place.</p></center>

            <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Let's get started!</button></a></center>
        </div>
    </div>
    </div>
{% endblock content %}